@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
  .material-symbols-outlined.filled {
    font-variation-settings: "FILL" 1;
  }

  body {
    min-height: max(884px, 100dvh);
  }
}

@layer utilities {
  .horizontal-scroll {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 85%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 0 1.5rem;
    margin: 0 -1.5rem;
  }
  .horizontal-scroll > * {
    scroll-snap-align: center;
  }
  .horizontal-scroll::-webkit-scrollbar {
    display: none;
  }
}
